@font-face {
    font-family: "Durk Wide Cy";
    src: url("../../fonts/Druk-Wide-Cy-Web-Medium-Regular.woff2");
}

@font-face {
    font-family: "Formular";
    src: url("../../fonts/Formular-Medium.woff2");
}
@font-face {
    font-family: "Geogrotesque Cyr";
    src: url("../../fonts/GeogrotesqueCyr-Regular.woff2");
}
