$max: "1439px";
$hd: "1239px";
$large: "1023px";
$tablet: "767px";
$small: "359px";

$black: #071829;
$white: #fff;
$lightblue: #0097F0;
$blue: #2563EB;
$darkblue: #036;
$greyblue: #093352;
$lightgreen: #0bc162;
$green: #17b227;
$red: #EA5050;
$lightgrey: #d9d9d9;
